.login {
    box-sizing: border-box;
    height: calc(50vh + 72px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2.5rem;
    margin-top: 72px;
    background: var(--fondo-gris);
}

.login__titulo {
    margin-bottom: 1rem;
}

.login__titulo h3 {
    font-size: 1.5em;
    font-weight: 700;
}

.login__box {
    box-sizing: border-box;
    width: 100%;
    max-width: 275px;
    text-align: center;
}

.login__form {
    box-sizing: border-box;
    width: 100%;
}

.login__form__nombre,
.login__form__clave {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.login__form__input {
    height: 50px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--texto-input-gris);
    font-size: 1em;
    padding: 0 1rem;
}

.login__form__entrar {
    box-sizing: border-box;
    border: 1px solid var(--azul);
    background: var(--azul);
    width: 35%;
    max-width: 120px;
    padding: .5rem 0;
    text-align: center;
    color: var(--texto-blanco);
    font-size: 1em;
}

.login__form__entrar:hover {
    background: var(--texto-blanco);
    color: var(--azul);
    transition: 500ms;
}

@media screen and (min-width: 1440px) {

    .login__titulo h3 {
        font-size: 2em;
    }

    .login__box {
        box-sizing: border-box;
        width: 100%;
        max-width: 475px;
        text-align: center;
    }

    .login__form__input {
        height: 70px;
        font-size: 1.3em;
    }

    .login__form__entrar {
        box-sizing: border-box;
        border: 1px solid var(--azul);
        background: var(--azul);
        width: 100%;
        max-width: none;
        padding: .8rem 0;
        text-align: center;
        color: var(--texto-blanco);
        font-size: 1.5em;
    }
}