.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App h1{
  text-align: center;
}

.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}