:root {
    --azul: #2A7AE4;
    --gris-texto: #464646;
    --fondo-verde-claro: #EAF2FD;
    --fondo-gris: #F5F5F5;
    --texto-input-gris: #A2A2A2;
    --texto-blanco: #FFFFFF;
    --color-error: #FF0000;
}